<div class="container">
    <div>
        <h1 style="color: blue;">Distancia entre dos puntos</h1>
    </div>
    <div class="row">
        <mat-form-field>
            <input matInput type="number" [(ngModel)]="puntox1" placeholder="Punto x1">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" [(ngModel)]="puntox2" placeholder="Punto x2">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" [(ngModel)]="puntoy1" placeholder="Punto y1">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" [(ngModel)]="puntoy2" placeholder="Punto y2">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="calcular()" >Calcular</button>
    </div>
<hr>
<div class="container">
    <h2>El resultado es : <p style="color: red;"> {{resultado}}</p></h2>
</div>
</div>
