<div class="container">
    <div class="row">
        <h1>Pizzeria</h1>
        <div class="col-4">
            <div class="mb-4">
                <mat-form-field>
                    <input matInput type="text" [(ngModel)]="nombre" placeholder="Nombre">
                </mat-form-field>
            </div>
            <div class="mb-4">
                <b>Tamaño Pizza</b> <br>
                <mat-radio-group name="opciones" [(ngModel)]="opcionSelect">
                    <mat-radio-button *ngFor="let op of opcion" name="opciones" [value]="op"
                    style="margin: 10px;">
                    {{op}}
                </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="col-4">
            <div class="mb-4">
                <mat-form-field>
                    <input matInput type="text" [(ngModel)]="direccion" placeholder="Dirección">
                </mat-form-field>
            </div>
            <div class="mb-4">
                <section [formGroup]="ingredientes">
                    <h4>Ingredientes</h4>
                    <p><mat-checkbox formControlName="jamon">Jamón $10</mat-checkbox></p>
                    <p><mat-checkbox formControlName="pina">Piña $10</mat-checkbox></p>
                    <p><mat-checkbox formControlName="champinones">Champiñones $10</mat-checkbox></p>
                </section>
            </div>
        </div>
        <div class="col-4">
            <div class="mb-4">
                <mat-form-field>
                    <input matInput type="text" [(ngModel)]="telefono" placeholder="Teléfono">
                </mat-form-field>
            </div>
            <div class="mb-4">
                <mat-form-field>
                    <input matInput type="number" [(ngModel)]="numPizza" placeholder="Num. de Pizzas">
                </mat-form-field>
            </div>
            <div class="mb-4">
                <button mat-raised-button color="primary" (click)="anadirPizza()">Agregar</button>
            </div>
        </div>
        <hr>
        <div class="col-6">
            <table class="table table-responsive table-bordered border-primary text-center">
                <thead>
                    <tr>
                        <th>Tamaño</th>
                        <th>Ingredientes</th>
                        <th>Num.Pizzas</th>
                        <th>SubTotal</th>
                        <th colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pizza of pizzas; let i = index">
                        <td>{{pizza.tamano}}</td>
                        <td>{{getIngredientesSeleccionados(pizza).join(' , ')}}</td>
                        <td>{{pizza.numPizza}}</td>
                        <td style="color: red;">${{pizza.subtotal}}</td>
                        <td><button  mat-raised-button color="warn" (click)="quitarPizza(i)">Quitar</button></td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <button  mat-raised-button color="accent" (click)="terminarVentas()" [disabled]="pizzas.length === 0">Terminar</button>
            </div>
        </div>
        <div class="col-6">
            <h1 class="text-center">Ventas del día</h1>
            <table class="table table-responsive table-bordered border-danger">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let venta of ventas">
                        <td style="color: blue;"><b>{{venta.nombre}}</b></td>
                        <td style="color: red;"><b>${{venta.total}}</b></td>
                    </tr>
                    <tr style="background-color: yellow;">
                        <td><b>Ventas totales</b></td>
                        <td style="color: red;"><b>${{totalVentas}}</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
